.wrapper {
    @extend %flex-column;
    min-height: 100vh;
    margin: 0 auto;
    width: 100vw;
}

main {
    flex: 1;
    overflow: hidden;
}

header {
    margin-top: 7em;
    margin-bottom: 0em;
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    img {
        margin-top: auto;
        width: 100vmin;
    }
}

.container-1,
.container-2,
.container-3,
.container-4 {
    h2 {
        margin-bottom: 2em;
        padding-top: 100px;
    }
}

.container-1,
.container-2,
.container-4 {
@extend %panel-margin-small;
}



.container-1,
.container-1__body {
    @extend %flex-column;
    img {
        width: 5em;
        align-self: center;
        justify-self: center;
    }
}

.container-1,
.container-2 {
    margin-bottom: -120px;
}

header,
.container-5,
.container-6 {
    background-image: linear-gradient(180deg, $white, $color-primary-lighter);
    z-index: 0;
    position: relative;
}


.container-2,
.container-4 {
    background-color: $color-primary-lighter;
    clip-path: polygon(0% 1%, 12% 2%, 22% 3%, 36% 2%, 51% 1%, 64% 1%, 88% 3%, 100% 2%, 100% 100%, 88% 100%, 74% 99%, 65% 98%, 53% 99%, 38% 99%, 26% 100%, 14% 100%, 1% 99%, 0% 99%);
}

.container2-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 5.5em .1em;
    @media screen and (min-width:992px){
        grid-template-columns: repeat(5, 1fr);
    }
}


.container-1-wrapper {
    @media screen and (min-width:992px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.container-1__body {
    @media screen and (min-width:992px){
        width: 45%;
    }

}


.container-1-wrapper,
.container-4-wrapper,
.container-5-wrapper {
    margin: 0 auto;
    width: 95%;
    @media screen and (min-width:992px){
        width: 80%;
    }
    @media screen and (min-width:1200px){
        width: 68%;
    }
}


.container2-wrapper {
    margin: 0 auto;
    width: 95%;
    @media screen and (min-width:992px){
        width: 80%;;
    }
    @media screen and (min-width:1200px){
        width: 60%;
      }
}

.container-3 {
    h2 {
        margin-top: 3em;
    }
    h3 {
        margin: 1em 0;
    }
    p {
        margin: 0;
    }
}

footer {
    @extend %flex-column;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 80px;
    p {
        color: $color-secondary-light;
        margin: 0;
    }
}


.container-4-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width:992px){
        flex-direction: row;
        justify-content: space-around;
    }
}

.address,
.hours {
    padding-bottom: 30px;
}

.address p,
.hours p {
    letter-spacing: .1em;
    padding-top: 1.2em;
    text-align: center;
    line-height: 1.6;
    font-size: 1em;
}

.hours-time p,
.address-info p {
    text-align: left;
}

.hours-time-title {
    display: flex;
    justify-content: center;
}

.hours-time-title table {
 text-align: left;
 padding-top: 18px;
}


.hours-time table {
    padding-top: 1.2em;
    text-align: left;
    width: 100%;
}

.container-5 {
    min-height: 85vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        margin-top: 2em;
    }
}


.container-5-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 7em;
    width: 95%;
    @media screen and (min-width:992px){
        width: 80%;
    }
    @media screen and (min-width:1200px){
        width: 60%;
      }
}

.container-5_left,
.container-5_right {
    max-width: 40%;
}

.container-6 {
    // min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h2 {
        margin-top: 1em;
    }
    & ul li::before {
        content: "\2022";
        color: $color-primary;
        font-weight: bold;
        display: inline-block;
        width: 1.5em;
    }
}


.container-6-wrapper {
    // height: 1000%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3em;
    width: 95%;
    @media screen and (min-width:992px){
        width: 80%;;
    }
    @media screen and (min-width:1200px){
        width: 50%;
      }
}