// ==========================================================================
// Carousel
// ==========================================================================


.carousel,
.carousel-desktop {
    width: 95%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.carousel {
    @media screen and (min-width:992px){
        display: none;
    }
}

.carousel-desktop {
    @media screen and (max-width:992px){
        display: none;
    }
    @media screen and (min-width:992px){
        width: 80%;
    }
    @media screen and (min-width:1200px){
        width: 60%;
    }
}

.slider {
    display: flex;
    height: 100%;
    width: 400%;
    transition: all 0.4s;
    flex-shrink: 0;
    @media screen and (min-width:992px){
        flex-shrink: 1;
    }
}

.doctors {
    flex-basis: 25%;
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    flex: 1;
    h3 {
        align-self: center;
        @media screen and (min-width:992px){
            font-size: 1em;
        }
    & a {
        font-style: italic;
    }
    }
}

.img-overlay {
    position: absolute;
    background-color: rgba($color: $color-primary, $alpha: .8);
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4em;
    transition: opacity .5s ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
    animation: changeSize 2s ease-in-out infinite;
    span {
        color: $white;
        text-transform: uppercase;
    }
}

.img-wrapper {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    transition: transform .3s ease-out;
    @media screen and (min-width:992px){
        &:hover .img-overlay{
            opacity: 1;
        }
    }
}


.carousel-controls {
    @media screen and (min-width:992px){
        display: none;
    }
}


.arrow {
    position: absolute;
    top: 15%;
    color: $color-primary;
    cursor: pointer;
}


.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.img-arrows {
    height: 2em;
    transition: transform .3s ease-in-out;
    &:hover {
        transform: scale(1.4);
    }
}





